// $bg-nav:aliceblue;
// $bg-menu:beige;
// .header{
//     position: sticky;
//     top: 5px;
// }
// .nav{
//     ul{
//         display: flex;
//         flex-wrap: wrap;
//         background-color: $bg-nav;
//         padding: 10px;
//         li{
//             list-style: none;
//             padding-left: 5px;
//         }
//         a{
//             text-decoration: none;
//             background-color: $bg-menu;
//             padding: 10px;
//             color: black;
//             &:hover{
//                 background-color: red;
//             }
//             &:focus{
//                 background-color: blue;
//                 color: white;
//             }
//         }
//     }
// }
// .contenu{
//     #acceuil, #contact{
//         height: 100vh;
//         padding: 50px;
//     }
//     #acceuil{
//         background-image: url(head.png);
//         background-size: cover;
//         background-color: black;
//     }
//     #contact{

//         input[type=text], select, textarea {
//             width: 100%;
//             padding: 12px;
//             border: 1px solid #ccc;
//             border-radius: 4px;
//             box-sizing: border-box;
//             margin-top: 6px;
//             margin-bottom: 16px;
//             resize: vertical;
//         }
        
//         input[type=submit] {
//             background-color: #04AA6D;
//             color: white;
//             padding: 12px 20px;
//             border: none;
//             border-radius: 4px;
//             cursor: pointer;
//         }
        
//         input[type=submit]:hover {
//             background-color: #45a049;
//         }
  
//     }
// }

#calculatrice{
    position: relative;
    width: 400px;
    background-color: aquamarine;
    border: solid;
    padding: 20px;
    display: flex;
    input{
        width: 88%;
    }
    div._button{
        display: flex;
        flex-wrap:wrap;
        width: 304px;
        .button, .button_virgul, .button_egale{
            width: 88px;
            padding: 1px;
            margin: 2px;
        }
    }
    div._operation{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        .operation{
            width: 88px;
            padding: 1px;
            margin: 2px;
        }
    }
    &:hover{
        cursor: pointer;
    }
}
#game{
    background-color: aquamarine;
    position: relative;
    border: solid;
    span[robot="1"]{
        background-color: red;
        position: relative;
    }
    .block{
        display: block;
        position: absolute;
        background-color: black;
    }
}
div#css {
    background-color: aquamarine;
    position: relative;
    border: solid;    
}

body.content-page{
    background-color: #d7bcf7!important;
    color: #000000!important;
    line-height: 26px;
    font-family: 'Whyte',Arial,Helvetica,sans-serif;
    margin: 0px 40px 0px 40px;
    .text-center{
        text-align: center;
    }
    @for $i from 1 through 100{
        .w-#{$i}{
            width: $i * 10px;
        }
        .h-#{$i}{
            height: $i * 1%;
        }
        .br-#{$i}{
            border-radius: $i * 1%;
        }
        .m-#{$i}{
            margin: $i * 1%;
        }
        .p-#{$i}{
            padding: $i * 1%;
        }
        .f-#{$i}{
            font-size: $i * 1%;
        }
    }
    .dflex{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.header{
    height: 100px;
    margin: 0px -40px 40px -40px;
    .nav1{
        height: 80px;
        background-color: rgba(0, 255, 255, 0.623);
        padding: 0px 40px 0px 40px;
        display: flex;
    }
    .nav2{
        height: 50px;
        background-color: rgb(0, 255, 255);
        padding: 0px 40px 0px 40px;
    }
    .logo{
        width: 100px;
        height: 80px;
    }
}
.dnone{
    display: none!important;
}
#registre{
    background-color: #efefef;
    display: flex;
    flex-wrap: wrap;
    border: solid;
    label{
        display:inline-block;
    }
}
#gestpanier{
    background-color: #efefef;
    display: flex;
    flex-wrap: wrap;
    border: solid;
    
    .image-prod{
        width: auto;
        height: 90px;
        background-color: brown;
    }
    .produit-liste{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        *{
            display: flex;
            flex-direction: column;
            margin: 2px;
        }
        div{
            border: 1px solid;
        }
        button {
            background-color: #eb5e2b;
            border: none;
            color: white;
            font-weight: bold;
            &:hover{
                background-color: #cc664191;
            }
        }
    }
    span#total-panier{
        background-color: #f55f32;
        padding: 1px;
        border-radius: 50%;
        width: 25px;
        text-align: center;
    }

    #liste_produit{
        background-color: #69a9a9;
        width: 100%;
        position: relative;
        color: white;
        font-weight: 700;
        td {
            width: 10%;
        }
    }
}
.deplacer{
    cursor: pointer;
}



#keno{
    background-color: #696560;
    padding: 14px;

    button {
        width: 30px;
    }
    button#flash_keno {
        width: 50px;
    }
    .none{
        background-color: red;
    }
    .ok{
        background-color: green;
    }
    .tabkeno {
        display: flex;
    }
    div#valeur {
        font-size: 25px;
        background-color: antiquewhite;
        border: solid;
        border-radius: 100px;
        padding: 15px;
    }
    div#mise {
        font-size: 25px;
        display: flex;
        flex-direction: column;
        div{
            display: flex;
            flex-direction: row;
            div{
                padding: 5px;
                margin: 5px;
            }   
        }
    }
    .headkeno {
        display: flex;
        justify-content: space-between;
    }
}