// $bg-nav:aliceblue;
// $bg-menu:beige;
// .header{
//     position: sticky;
//     top: 5px;
// }
// .nav{
//     ul{
//         display: flex;
//         flex-wrap: wrap;
//         background-color: $bg-nav;
//         padding: 10px;
//         li{
//             list-style: none;
//             padding-left: 5px;
//         }
//         a{
//             text-decoration: none;
//             background-color: $bg-menu;
//             padding: 10px;
//             color: black;
//             &:hover{
//                 background-color: red;
//             }
//             &:focus{
//                 background-color: blue;
//                 color: white;
//             }
//         }
//     }
// }
// .contenu{
//     #acceuil, #contact{
//         height: 100vh;
//         padding: 50px;
//     }
//     #acceuil{
//         background-image: url(head.png);
//         background-size: cover;
//         background-color: black;
//     }
//     #contact{

//         input[type=text], select, textarea {
//             width: 100%;
//             padding: 12px;
//             border: 1px solid #ccc;
//             border-radius: 4px;
//             box-sizing: border-box;
//             margin-top: 6px;
//             margin-bottom: 16px;
//             resize: vertical;
//         }
        
//         input[type=submit] {
//             background-color: #04AA6D;
//             color: white;
//             padding: 12px 20px;
//             border: none;
//             border-radius: 4px;
//             cursor: pointer;
//         }
        
//         input[type=submit]:hover {
//             background-color: #45a049;
//         }
  
//     }
// }

#calculatrice{
    position: relative;
    width: 400px;
    background-color: aquamarine;
    border: solid;
    padding: 20px;
    display: flex;
    input{
        width: 88%;
    }
    div._button{
        display: flex;
        flex-wrap:wrap;
        width: 304px;
        .button, .button_virgul, .button_egale{
            width: 88px;
            padding: 1px;
            margin: 2px;
        }
    }
    div._operation{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        .operation{
            width: 88px;
            padding: 1px;
            margin: 2px;
        }
    }
    &:hover{
        cursor: pointer;
    }
}
#game{
    background-color: aquamarine;
    position: relative;
    border: solid;
    span[robot="1"]{
        background-color: red;
        position: relative;
    }
    .block{
        display: block;
        position: absolute;
        background-color: black;
    }
}
div#css {
    background-color: aquamarine;
    position: relative;
    border: solid;    
}

body.content-page{
    background-color: #d7bcf7!important;
    color: #000000!important;
    line-height: 26px;
    font-family: 'Whyte',Arial,Helvetica,sans-serif;
    margin: 0px 40px 0px 40px;
    .text-center{
        text-align: center;
    }
    @for $i from 1 through 100{
        .w-#{$i}{
            width: $i * 1%;
        }
        .h-#{$i}{
            height: $i * 1%;
        }
        .br-#{$i}{
            border-radius: $i * 1%;
        }
        .m-#{$i}{
            margin: $i * 1%;
        }
        .f-#{$i}{
            font-size: $i * 1%;
        }
    }
    .dflex{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.header{
    height: 100px;
    margin: 0px -40px 40px -40px;
    .nav1{
        height: 80px;
        background-color: rgba(0, 255, 255, 0.623);
        padding: 0px 40px 0px 40px;
    }
    .nav2{
        height: 50px;
        background-color: rgb(0, 255, 255);
        padding: 0px 40px 0px 40px;
    }
    .logo{
        width: 100px;
        height: 80px;
    }
}