$bg-nav:aliceblue;
$bg-menu:beige;
.header{
    position: sticky;
    top: 5px;
}
.nav{
    ul{
        display: flex;
        flex-wrap: wrap;
        background-color: $bg-nav;
        padding: 10px;
        li{
            list-style: none;
            padding-left: 5px;
        }
        a{
            text-decoration: none;
            background-color: $bg-menu;
            padding: 10px;
            color: black;
            &:hover{
                background-color: red;
            }
            &:focus{
                background-color: blue;
                color: white;
            }
        }
    }
}
.contenu{
    #acceuil, #contact{
        height: 100vh;
        padding: 50px;
    }
    #acceuil{
        background-image: url(head.png);
        background-size: cover;
        background-color: black;
    }
    #contact{

        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 6px;
            margin-bottom: 16px;
            resize: vertical;
        }
        
        input[type=submit] {
            background-color: #04AA6D;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        
        input[type=submit]:hover {
            background-color: #45a049;
        }
  
    }
}