
$url :'font-family/';
$oswald :'Oswald-VariableFont_wght.ttf';
$chelaone :'ChelaOne-Regular.ttf';
$rubik: 'RubikDistressed-Regular.ttf';
$oleo: 'OleoScript';
$font-bilp: 'font-bilp.ttf';

@font-face {
    font-family: 'font_1';
    src: url($url+$chelaone);
}

@font-face {
    font-family: 'font_2';
    src: url($url+$oswald);
}
@font-face {
    font-family: 'font_3';
    src: url($url+$rubik);
}
@font-face {
    font-family: 'font_4';
    src: url($url+$oleo+'-Bold.ttf');
}
@font-face {
    font-family: 'font_5';
    src: url($url+$oleo+'-Regular.ttf');
}
@font-face {
    font-family: 'font_bilp';
    src: url($url+$font-bilp);
}
@font-face {
    font-family: 'xxxx';
    src: url($url+'font-bilp.woff2');
}
.rubik{
    font-family: font_3;
}
.oswald{
    font-family: font_2;
}
.chelaone{
    font-family: font_1;
}
.oleo-bold{
    font-family: font_4;
}
.oleo-reg{
    font-family: font_5;
}
.font-bilp{
    font-family: xxxx;
    &::before{
        content: "\f290";
        font-family: xxxx;
	    opacity: 0.5;
	    font-weight: 400;
        font-size: 100px;
        color: red;
    }
   
}